// footer.scss
@use "../utils" as *;
@use "../components" as *;


footer {
  font-family: Pretendard;
  color: $content;
  border-top: 1px solid $gray-100;

  // width: 100%;

  // @include paddingPct(10);
  // @include flexbox($direction:column,$items:center);
}

.dividerCustomer {
  color: $content;
  font-size: 16px;
}

.dividerAbout {
  color: $content;
  font-size: 10px;
}

.a11y {
  @include a11yHidden();
}

.footerTop {
  // width: 1050px;
  @include flexbox($direction: column, $justify: space-between);
  // padding: 28px 0px 32px 0px;
  @include paddingPct(20);


}

.footerInfo {
  @include flexbox($justify: space-between);
  padding: 28px 0px 32px 0px;
}

//커스터머 서비스 컨테이너
.customerService {
  @include flexbox($direction: column, $items: flex-start);
  gap: 16px;
}

.happyCenter {
  font-size: 21.328px;
  // font-family: Pretendard;
  font-weight: 700;
  line-height: 140%;
}



.centerNumber {
  font-size: 37.897px;
  font-weight: 700;
  // float: left;
}

.centerTime {
  font-size: 16px;
  font-weight: 600;
  // float: right;

}

// .inquiryContainer{
//   @include flexbox($direction:column);
//   gap: 10px;
// }

.numberInquiry{
  @include flexbox($items:center);
  gap: 10px;
}

.kakaoInquiry{
  @include flexbox($direction:row-reverse,$items:center);
  gap: 10px;

  line-height: 26px;
  
}

.oneononeInquiry{
  @include flexbox($direction:row-reverse,$items:center);
  gap: 10px;
  line-height: 26px;
  
}

.bulkInquiry{
  @include flexbox($direction:row-reverse,$items:center);
  gap: 10px;
  line-height: 26px;
  
}

.nonMember {
  font-size: 10px;
}

//어바웃 컨테이너

.about {
  // width: 55%;
  @include flexbox($direction: column, $items: flex-start);
  gap: 28px;

  &__nav {
    @include flexbox($justify: space-between);
    gap: 10px;
  }

  &__info {
    font-size: 10px;
    line-height: 18px;

  }
}

.primary {
  color: $primary;
  font-weight: bold;
}

.snsContainer {
  @include flexbox;
  gap: 20px;
}


//컴퍼니 영역

.footerCompany {
  border-top: 1px solid $gray-100;
  // position: relative;
}

.companyWrap {
  @include flexbox($justify: space-between, $items: flex-start);

  // width: 1050px;
  padding: 24px 0px 32px 0px;
  font-size: rem(10px);
  line-height: 16px;

  gap: 24px;
}

.company__list {
  @include flexbox($justify: space-between, $items: flex-start);

}

.isms {
  @include flexbox($items: flex-start);

  gap: 8px;

  &::before {
    content: "";
    display: block;
    background: url("../../images/logo_isms.png") no-repeat;
    width: 35px;
    height: 35px;
    flex-shrink: 0;

  }

}

.privacy {
  @include flexbox($items: flex-start);
  gap: 8px;

  &::before {
    content: "";
    display: block;
    background: url("../../images/logo_privacy.png") no-repeat;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
  }

}

.woori {
  @include flexbox($items: flex-start);
  gap: 8px;

  &::before {
    content: "";
    display: block;
    background: url("../../images/logo_wooriBank.png") no-repeat;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
  }

}

.toss {
  @include flexbox($items: flex-start);
  gap: 8px;

  &::before {
    content: "";
    display: block;
    background: url("../../images/logo_tosspayments.png") no-repeat;
    width: 105px;
    height: 35px;
    flex-shrink: 0;
  }

}

//카피라이트 영역
.footerBottom {
  background: $gray-50;
  font-size: rem(10px);
  color: $gray-400;

  @include paddingY(25px);
  @include flexbox($direction: column, $justify: center, $items: center);

  span {
    line-height: 180%;
    // @include paddingY(3px);
  }

  small {
    line-height: 160%;
    @include paddingY(10px);
  }
}