

footer {
  font-family: Pretendard;
  color: #333333;
  border-top: 1px solid #E1E1E1;
}

/* button */

.inquiryButton {
  cursor: pointer;
  background: white;
  border: 1px solid #C4C4C4;
  width: 8.75rem;
  height: 2.5rem;
}

/* footer */

.dividerCustomer {
  color: #333333;
  font-size: 16px;
}

.dividerAbout {
  color: #333333;
  font-size: 10px;
}

.a11y {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.footerTop {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 20%;
  padding-right: 20%;
}

.footerInfo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 28px 0px 32px 0px;
}

.customerService {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.happyCenter {
  font-size: 21.328px;
  font-weight: 700;
  line-height: 140%;
}

.centerNumber {
  font-size: 37.897px;
  font-weight: 700;
}

.centerTime {
  font-size: 16px;
  font-weight: 600;
}

.numberInquiry {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.kakaoInquiry {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  line-height: 26px;
}

.oneononeInquiry {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  line-height: 26px;
}

.bulkInquiry {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  line-height: 26px;
}

.nonMember {
  font-size: 10px;
}

.about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 28px;
}
.about__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}
.about__info {
  font-size: 10px;
  line-height: 18px;
}

.primary {
  color: #5F0080;
  font-weight: bold;
}

.snsContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
}

.footerCompany {
  border-top: 1px solid #E1E1E1;
}

.companyWrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 0px 32px 0px;
  font-size: 0.625rem;
  line-height: 16px;
  gap: 24px;
}

.company__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.isms {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.isms::before {
  content: "";
  display: block;
  background: url("../../images/logo_isms.png") no-repeat;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}

.privacy {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.privacy::before {
  content: "";
  display: block;
  background: url("../../images/logo_privacy.png") no-repeat;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}

.woori {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.woori::before {
  content: "";
  display: block;
  background: url("../../images/logo_wooriBank.png") no-repeat;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}

.toss {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.toss::before {
  content: "";
  display: block;
  background: url("../../images/logo_tosspayments.png") no-repeat;
  width: 105px;
  height: 35px;
  flex-shrink: 0;
}

.footerBottom {
  background: #F9F9F9;
  font-size: 0.625rem;
  color: #898989;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.footerBottom span {
  line-height: 180%;
}
.footerBottom small {
  line-height: 160%;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}