header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  color: #333333;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.1);
  font-family: Pretendard;
}

/* logo */

.logo_karly {
  width: 5rem;
  height: 2.8125rem;
  display: block;
  background: url("../assets/images/logo2.svg") no-repeat;
}

/* button */

.header_banner_button {
  background: url("../assets/images/Icon/") no-repeat;
  width: 1.875rem;
  height: 1.875rem;
  display: block;
  border: 0;
}

.search__button {
  cursor: pointer;
}

.searchIcon {
  background: url("../../images/Icon/Search.png") no-repeat;
  width: 2.5rem;
  height: 2.1875rem;
  display: block;
  border: 0;
}

.heartIcon {
  width: 2rem;
  height: 1.9375rem;
  display: block;
  background: url("../../images/Icon/Heart.png") no-repeat;
}

.locationIcon {
  background: url("../../images/Icon/Location.png") no-repeat;
  width: 2rem;
  height: 1.9375rem;
  display: block;
}

.blackCart__Icon {
  background: url("../../images/Icon/Cart-black.png") no-repeat;
  width: 2rem;
  height: 1.9375rem;
  display: block;
}

/* header */

.divider {
  color: #E1E1E1;
  font-size: 12px;
}

.bold {
  font-weight: bold;
}

.headerContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding-left: 20%;
  padding-right: 20%;
  position: relative;
}

.searchContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

.logoContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.switchContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  gap: 12px;
  position: relative;
}

.market__link {
  color: #5F0080;
}

.beauty__link {
  color: #898989;
}
.beauty__link::after {
  content: "";
  display: block;
  background: url("../../images/Icon/new.svg");
  width: 7px;
  height: 7px;
  top: -5px;
  right: -15px;
  position: absolute;
}

.formContainer {
  margin-right: 120px;
}

.searchForm {
  width: 400px;
  border: 1.5px solid #5F0080;
  border-radius: 3px;
  padding: 10px 10px 10px 15px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.searchForm label {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.searchForm__input {
  width: 320px;
  border: 0;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.memberIcon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 30px;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.nav__list {
  font-weight: 600;
  width: 700px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
}

.nav__button {
  border: 0;
  background: #ffffff;
  font-weight: bold;
  transform: translateY(1px);
}
.nav__button::before {
  content: "";
  display: inline-block;
  background: url("../../images/Icon/Hamburger_black.png") no-repeat;
  width: 16px;
  height: 14px;
  margin-right: 10px;
}

.nav__link {
  display: block;
  font-size: 12px;
  color: #A6A6A6;
  border: 1px solid #A6A6A6;
  padding: 6px 8px;
  border-radius: 20px;
}

.link__color {
  color: #5F0080;
}

.header_banner{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: #5F0080;
  color: #ffffff;
  order: -1;
}
.header_banner_link {
  display: block;
  font-size: 0.875rem;
  text-align: center;
  flex-grow: 1;
}

.memberOnly {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 5%;
  right: 20%;
}
.memberOnly__list {
  font-weight: 600;
  font-size: 12px;
}

.member__signUp {
  color: #5F0080;
}

.member__cusCenter::after {
  content: "";
  display: inline-block;
  background: url("../../images/Icon/down.svg");
  width: 8px;
  height: 6px;
  transform: translateY(-3px);
  margin-left: 5px;
}
