.main__main {
  margin: 0;
  width: 100%;
  font-family: Pretendard;
  position: relative;
}
.main__main .mainBanner {
  position: relative;
  padding: 0;
}

.mainBanner__image {
  width: 100%;
}
.mainBanner__page {
  position: absolute;
  top: 87%;
  right: 22%;
  background: rgba(0, 0, 0, 0.15);
  width: 2.9375rem;
  height: 1.125rem;
  font-size: 0.8125rem;
  font-weight: 600;
  color: #ffffff;
  border-radius: 0.75rem;
  padding: auto;
  text-align: center;
}
.mainBanner__button {
  cursor: pointer;
  position: absolute;
  top: 38%;
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  border: 0;
  background: rgba(0, 0, 0, 0.1) url("");
}
.mainBanner__rightArrow {
  transform: scaleX(-1);
  right: 17%;
}
.mainBanner__leftArrow {
  left: 17%;
}

.recommendProduct {
  position: relative;
  width: 65.625rem;
  margin-left: auto;
  margin-right: auto;
  padding: 4.375rem 0;
  box-sizing: border-box;
}
.recommendProduct__title {
  font-size: 1.6875rem;
  font-weight: 700;
  padding: 0.9375rem 0;
  text-align: center;
  margin-bottom: 1.875rem;
}
.recommendProduct__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}
.recommendProduct__product {
  position: relative;
  width: 15.5625rem;
  height: 26.625rem;
}
.recommendProduct__name {
  text-decoration: none;
  color: #101010;
  font-size: 0.875rem;
  padding: 1.125rem 0;
  display: block;
}
.recommendProduct__price {
  font-size: 1.375rem;
  font-weight: bold;
}
.recommendProduct__sale {
  color: orangered;
  font-size: 1.375rem;
  font-weight: 800;
}
.recommendProduct__beforePrice {
  display: block;
  text-decoration: line-through;
  color: #A6A6A6;
  font-size: 0.8125rem;
  margin-top: 1rem;
}
.recommendProduct__cart {
  cursor: pointer;
  position: absolute;
  bottom: 30%;
  right: 8%;
  background: #2a0038 url("/images/Icon/Cart.png");
  background-position: center;
  opacity: 50%;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  border: 0;
}
.recommendProduct__rightArrow {
  cursor: pointer;
  background: #ffffff url("/images/Icon/rightArrow_black.png") no-repeat;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  border: none;
  background-position: center;
  box-shadow: 0 0 0.625rem #E1E1E1;
  position: absolute;
  top: 45%;
  right: -2.4%;
}

.lineBanner {
  width: 65.625rem;
  margin: 2.5rem auto;
  padding: 0;
}

.recentProduct {
  position: relative;
  position: fixed;
  top: 50%;
  right: 2%;
  width: 4.625rem;
  height: 13.9375rem;
  font-size: 0.4375rem;
  text-align: center;
  padding: 2.1875rem 0;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  background: #ffffff;
}
.recentProduct img {
  width: 100%;
}
.recentProduct__list {
  list-style: none;
  padding: 0;
  width: 2.5rem;
  height: 8.0625rem;
  overflow: hidden;
  row-gap: 0.125rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.625rem;
}
.recentProduct__sprite {
  cursor: pointer;
  width: 1.125rem;
  height: 1.125rem;
  background: url("/images/Icon/Arrow-2.png");
  position: absolute;
  border: none;
}
.recentProduct__buttonUp {
  background-position: 50% 10%;
  top: 4%;
  right: 37%;
}
.recentProduct__buttonDown {
  background-position: 50% 35%;
  bottom: 4%;
  right: 37%;
}

.mainPopup {
  width: 21.5625rem;
  height: 33.125rem;
  border-radius: 1rem;
  background: #ffffff;
  box-shadow: 0 0.5rem 2.25rem 0 #C4C4C4;
  color: #333333;
  font-weight: 700;
  position: fixed;
  bottom: 0.625rem;
  left: 0.4375rem;
}
.mainPopup img {
  border-radius: 1rem 1rem 0 0;
}
.mainPopup .mainPopup__closeButton {
  border-left: solid 0.0625rem #E1E1E1;
}
.mainPopup:active {
  visibility: hidden;
}

button[class*=mainPopup__close] {
  cursor: pointer;
  height: 3.75rem;
  background: transparent;
  width: 49%;
  display: inline-block;
  margin: 0;
  border: 0;
}