.main_page_container {
  @apply w-full relative m-0;
  font-family: Pretendard;
}
.main_page_container .main_banner {
  @apply relative overflow-hidden p-0;
}
.main_banner_image {
  @apply w-full;
}
.main_banner_page {
  @apply absolute w-[60px] h-5 text-[0.8125rem] font-semibold text-white text-center z-20 p-[auto] rounded-xl right-[22%] top-[87%];
  background: rgba(0, 0, 0, 0.15);
}
.main_banner_button {
  @apply cursor-pointer absolute w-[3.25rem] h-[3.25rem] z-20 opacity-0 transition-opacity duration-[50ms] ease-[ease-in-out] rounded-[50%] border-0 top-[40%];
  background: rgba(0, 0, 0, 0.1) url('../assets/images/Icon/Arrow.png');
}
.main_banner_right_arrow {
  @apply -scale-x-100 right-[17%];
}
.main_banner_left_arrow {
  @apply left-[17%];
}
.recommend_today {
  @apply relative w-[65.625rem] box-border mx-auto px-0 py-[4.375rem];
}
.recommend_today_title {
  @apply text-[1.6875rem] font-bold text-center mb-[1.875rem] px-0 py-[0.9375rem];
}
.recommend_today_list {
  @apply flex justify-between items-stretch pl-0;
  list-style: none;
  flex-flow: row nowrap;
}
.recommend_today_product {
  @apply relative w-[15.5625rem] h-[26.625rem];
}
.recommend_today_name {
  @apply no-underline text-[#101010] text-sm block px-0 py-[1.125rem];
}
.recommend_today_price {
  @apply text-[1.375rem] font-[bold];
}
.recommend_today_sale {
  @apply text-[orangered] text-[1.375rem] font-extrabold;
}
.recommend_today_before_price {
  @apply block line-through text-[#a6a6a6] text-[0.8125rem] mt-4;
}
.recommend_today_cart {
  @apply cursor-pointer absolute bg-center opacity-[50%] w-[2.625rem] h-[2.625rem] rounded-[50%] border-0 right-[8%] bottom-[30%];
  background: #2a0038 url('../assets/images/Icon/Cart.png');
}
.recommend_today_right_arrow {
  @apply cursor-pointer w-[3.125rem] h-[3.125rem] bg-center shadow-[0_0_0.625rem_#e1e1e1] absolute right-[-2.4%] rounded-[50%] border-[none] top-[45%];
  background: #ffffff url('../assets/images/Icon/rightArrow_black.png')
    no-repeat;
}
.line_banner {
  @apply w-[65.625rem] mx-auto my-10 p-0;
}
.recent_viewed {
  @apply relative fixed w-[4.625rem] h-[13.9375rem] text-[0.4375rem] text-center border box-border z-20 px-0 py-[2.1875rem] border-solid border-[#c4c4c4] right-[2%] top-2/4;
  background: #ffffff;
}
.recent_viewed img {
  @apply w-full;
}
.recent_viewed_list {
  @apply w-10 h-[8.0625rem] overflow-hidden gap-y-0.5 mt-2.5 mx-auto p-0;
  list-style: none;
}
.recent_viewed_sprite {
  @apply cursor-pointer w-[1.125rem] h-[1.125rem] absolute border-[none];
  background: url('../assets/images/Icon/Arrow-2.png');
}
.recent_viewed_up {
  @apply bg-[50%_10%] right-[37%] top-[4%];
}
.recent_viewed_down {
  @apply bg-[50%_35%] right-[37%] bottom-[4%];
}
.main_popup {
  @apply w-[21.5625rem] h-[33.125rem] shadow-[0_0.5rem_2.25rem_0_#c4c4c4] text-[#333333] font-bold fixed z-20 rounded-2xl left-[0.4375rem] bottom-2.5;
  background: #ffffff;
}
.main_popup img {
  @apply rounded-[1rem_1rem_0_0];
}
.main_popup .main_popup_close_button {
  @apply border-l-[solid] border-l-[#e1e1e1];
}
button[class*='main_popup_close'] {
  @apply cursor-pointer h-[3.75rem] w-[49%] inline-block m-0 border-0;
  background: transparent;
}
