.product_detail {
  @apply relative mx-auto box-border w-[65.625rem] px-0 py-[3.75rem] text-base;
  font-family: Pretendard;
}
.product_detail_title_box {
  @apply ml-[480px] flex flex-col flex-nowrap items-stretch justify-start gap-y-4;
}
.product_detail_star_delivery {
  @apply -order-1 text-[1.3125rem] font-extrabold text-[#6b6b6b];
}
.product_detail_title {
  @apply text-[1.6875rem] font-bold;
}
.product_detail_sub_title {
  @apply leading-[160%] text-[#898989];
}
.product_detail_productcart,
.product_detail_list,
.product_detail_titleBox {
  @apply ml-[480px];
}
.product_detail_image {
  @apply absolute top-[60px] ml-0;
}

.product_detail_KRW {
  @apply font-bold leading-[140%] text-[#2b2b2b];
}
.product_detail_purple_span {
  @apply mb-5 font-semibold leading-[150%] text-[#5f0080];
  font-family: Pretendard;
}
.product_detail_item {
  @apply flex border-t border-solid border-t-[#e1e1e1] py-4 text-xs last:border-b last:border-solid last:border-b-[#e1e1e1];
}
.product_detail_item dt {
  @apply w-32;
}
.product_detail_item .product_detail_font_bold {
  @apply mb-2.5 w-32 leading-[150%] text-neutral-700;
}
.product_detail_item dd {
  @apply text-[#6b6b6b];
  display: span;
}
.product_detail_allergy_info {
  @apply block w-[27rem];
}
.product_detail_select {
  @apply relative h-[5.1875rem] w-[27rem] border border-solid border-[#e1e1e1] p-3 font-semibold text-[#565656];
}
.product_detail_select_price {
  @apply absolute bottom-3 right-3 text-[0.9375rem] font-bold;
}
.product_detail_select_box {
  @apply mt-3 h-[1.875rem] w-[5.1875rem] border border-solid border-[#c4c4c4] text-center;
}
.product_detail_plus {
  @apply float-right h-[30px] w-7 cursor-pointer bg-[50%_17%];
  background: url("./../assets/cartIcons/plus_icon.png");
}
.product_detail_minus {
  @apply float-left h-[30px] w-7 cursor-pointer border-[none] bg-[50%_87%];
  background: url("../assets/cartIcons/minus_icon.png");
}
.product_detail_select_count {
  @apply inline-block translate-y-2 px-0 py-[auto] font-extrabold;
}
.product_detail_all_price {
  @apply mt-7 flex items-center justify-end gap-x-[1.0625rem] text-base font-semibold leading-[150%];
  flex-flow: row nowrap;
}
.product_detail_point {
  @apply mb-7 mt-[0.5625rem] text-end text-base font-semibold;
}
.product_detail_point_icon {
  @apply mr-[3px] h-6 w-[2.125rem] rounded-xl px-2 py-1 text-center text-[10px] leading-[160%] text-white;
  background: #fa622f;
}
.product_detail_all_button {
  @apply flex items-stretch justify-between;
  flex-flow: row nowrap;
}
.product_detail_button {
  @apply h-14 w-14 cursor-pointer border border-solid border-[#e1e1e1] p-1;
}
.product_detail_heart {
  @apply bg-[50%_89%];
  background: url("/images/Icon/Squre.png");
}
.product_detail_alarm {
  @apply bg-[55%_50%];
  background: url("/images/Icon/bell-2.png") no-repeat;
}
.product_detail_cart_button {
  @apply mb-12 h-[3.375rem] w-[26.875rem] cursor-pointer rounded font-semibold text-white;
  background: #5f0080;
}
.product_detail_list .product_detail_item {
  @apply flex;
}

/* -------------------------------- */
.description {
  @apply relative mx-auto flex w-[65.625rem] items-stretch justify-start text-base;
  font-family: Pretendard;
  flex-flow: column-reverse nowrap;
}
.description_image img {
  @apply mt-10 w-full;
}
.description_title_box {
  @apply flex items-stretch justify-start border-b border-solid border-b-[#e1e1e1] p-[4.75rem] text-center text-[#101010];
  flex-flow: column nowrap;
}
.description_sub_title {
  @apply text-[1.776875rem] font-semibold leading-[150%];
}
.description_title {
  @apply text-[3.1573125rem] font-bold leading-[140%];
}
.description_paragraph {
  @apply mt-10 border-b border-solid border-b-[#e1e1e1] pb-[12.5rem];
}
.description_check_point_title {
  @apply mx-auto mb-[4.375rem] block w-[32.5rem] -translate-y-10 bg-white text-[3.1573125rem] font-bold leading-[140%];
}
.description__detail_first_image {
  @apply mb-24;
}
.description_button {
  @apply float-left h-[3.375rem] w-3/12 cursor-pointer rounded-none border border-solid border-[#c4c4c4] text-base font-semibold leading-[150%];
  background: #f9f9f9;
}
.description_button span {
  @apply pl-[0.3125rem] text-[0.7501875rem] leading-[160%];
}
.description_button_purple {
  @apply border border-solid border-[#e0e0e0] text-[#5f0080];
  background: #ffffff;
}

/* -------------------------------- */
.why_karly {
  @apply my-[5.25rem] px-3;
}
.why_karly_title {
  @apply mb-[2.1875rem] block text-center text-[28.43px] font-bold leading-[140%];
}
.why_karly_description {
  @apply mb-[8.5rem] flex items-stretch justify-center;
  flex-flow: row wrap;
}
.why_karly_item {
  @apply box-border w-[19.6875rem] pt-14 text-center;
}
.why_karly_round_icon {
  @apply mx-auto mb-4 h-10 w-10;
}
.why_karly_check {
  background: url("/images/Icon/check-list-purple.svg");
}
.why_karly_web {
  background: url("/images/Icon/web-purple.svg");
}
.why_karly_delivery {
  background: url("/images/Icon/delivery-purple.svg");
}
.why_karly_price {
  background: url("/images/Icon/price-plus-purple.svg");
}
.why_karly_recycle {
  background: url("/images/Icon/recycle-purple.svg");
}
.why_karly_sub_title {
  @apply text-[1.333rem] font-semibold leading-[150%] text-[#5f0080];
}
.why_karly_sub .why_karly_paragraph {
  @apply mx-auto w-[77%] pt-6 leading-[160%];
}

/* -------------------------------- */
.product_review {
  @apply relative pb-[8.5rem];
}
.product_review_title {
  @apply mb-[1.875rem] text-[1.776875rem] font-bold leading-[140%];
}
.product_review_sub_title {
  @apply font-semibold leading-[150%] text-[#2b2b2b];
}
.product_review_descript_list {
  @apply ml-[1.5%] list-disc text-xs font-semibold leading-[150%] text-[#6b6b6b];
}
.product_review_button {
  @apply absolute right-0 top-0 h-11 w-[155px] cursor-pointer rounded border-0 text-white;
  background: #5f0080;
}

button[class*="mainPopup__close"] {
  @apply m-0 inline-block h-[3.75rem] w-[49%] cursor-pointer border-0;
  background: transparent;
}
