
@import 'register.css';
@import 'login.css';

@import './cart.css';
@import './productDetail.css';


@import './footer copy.css';
@import './mainPage.css';
/* @import './headerCopy.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* .headerContainer {
    flex-flow: column nowrap;
  }
  .searchContainer {
    flex-flow: row nowrap;
  }
  .logoContainer {
    flex-flow: row nowrap;
  } */
}

/* header */

header {
  @apply flex items-stretch justify-center text-[#333333] shadow-[0px_0px_24px_0px_rgba(0,0,0,0.1)];
  flex-flow: column nowrap;
  font-family: Pretendard;
}
.divider {
  @apply text-xs text-[#E1E1E1];
}
.bold {
  @apply font-[bold];
}
.header_container {
  @apply relative flex items-stretch justify-start px-[20%];
  flex-flow: column nowrap;
}
.search_container {
  @apply flex items-center justify-between pb-2.5 pt-10;
  flex-flow: row nowrap;
}
.logo_container {
  @apply flex items-center justify-start gap-3;
  flex-flow: row nowrap;
}
.logo_karly {
  @apply block h-[2.8125rem] w-20;
  background: url("../assets/images/logo2.svg") no-repeat;
}

.switch_box {
  @apply relative flex items-center justify-start gap-3 font-[bold] text-lg;
  flex-flow: row nowrap;
}
.market_link {
  @apply text-[#5F0080];
}
.beauty_link {
  @apply text-[#898989] after:absolute after:right-[-15px] after:top-[-5px] after:block after:h-[7px] after:w-[7px] after:content-[""];
}
.beauty_link::after {
  background: url("../assets/images/Icon/new.svg");
}

.search_form_container {
  @apply mr-[120px];
}
.search_form {
  @apply flex w-[400px] items-center justify-between rounded-[3px] border-[1.5px] border-solid border-[#5F0080] py-2.5 pl-[15px] pr-2.5 text-lg;
  flex-flow: row nowrap;
}

.search_form_input {
  @apply w-80 border-0 py-2.5;
}
.search_icon {
  @apply block h-[2.1875rem] w-10 border-0;
  background: url("../assets/images/Icon/Search.svg") no-repeat;
}
.search_button {
  @apply cursor-pointer;
}

.member_icon {
  @apply flex items-stretch justify-start gap-[30px];
  flex-flow: row nowrap;
}

.location_icon {
  @apply block h-[1.9375rem] w-8;
  background: url("../assets/images/Icon/Location.svg") no-repeat;
}

.black_cart_icon {
  @apply block h-[1.9375rem] w-8;
  background: url("../assets/images/Icon/Cart.svg") no-repeat;
}

.heart_icon {
  @apply block h-[1.9375rem] w-8;
  background: url("../assets/images/Icon/Heart.svg") no-repeat;
}

.header_nav {
  @apply flex items-center justify-between py-5;
  flex-flow: row nowrap;
}
.header_nav_list {
  @apply flex w-[700px] items-stretch justify-around font-semibold;
  flex-flow: row nowrap;
}
.header_nav_button {
  @apply translate-y-px border-0 font-[bold] before:mr-2.5 before:inline-block before:h-3.5 before:w-4 before:content-[""];
  background: #ffffff;
}
.header_nav_button::before {
  background: url("../assets/images/Icon/Hamburger_black.png") no-repeat;
}
.morning_star_delivery {
  @apply block rounded-[20px] border border-solid border-[#A6A6A6] px-2 py-1.5 text-xs text-[#A6A6A6];
}
.morning_star_delivery_color {
  @apply text-[#5F0080];
}

.header_banner {
  @apply -order-1 flex items-center justify-end px-[20%] py-2 text-white;
  flex-flow: row nowrap;
  background: #5f0080;
}
.header_banner_link {
  @apply block grow text-center text-sm;
}

.header_banner_button {
  @apply block h-[1.875rem] w-[1.875rem] border-0;
  background: url("../assets/images/Icon/Cancel.svg") no-repeat;
}

.member_only {
  @apply absolute right-[20%] top-[5%] flex items-center justify-evenly;
  flex-flow: row nowrap;
}
.member_only_list {
  @apply text-xs font-semibold;
}
.member_sign_up {
  @apply text-[#5F0080];
}
.member_custermer_center::after {
  @apply ml-[5px] inline-block h-1.5 w-2 translate-y-[-3px] content-[""];
  background: url("../assets/images/Icon/down.svg");
}

/* footer */

/* footer {
  @apply border-t border-solid border-t-[#E1E1E1] text-[#333333];
  font-family: Pretendard;
}
.divider_inquiry {
  @apply text-base text-[#333333];
}

.divider_about {
  @apply text-[10px] text-[#333333];
}

.footer_top {
  @apply flex items-stretch justify-between px-[20%];
  flex-flow: column nowrap;
}
.footer_info {
  @apply flex items-stretch justify-between px-0 pb-8 pt-7;
  flex-flow: row nowrap;
}
.customer_service {
  @apply flex items-start justify-start gap-4;
  flex-flow: column nowrap;
}
.customer_center {
  @apply text-[21.328px] font-bold leading-[140%];
}
.center_number {
  @apply text-[37.897px] font-bold;
}
.center_time {
  @apply text-base font-semibold;
}
.number_inquiry {
  @apply flex items-center justify-start gap-2.5;
  flex-flow: row nowrap;
}
.kakao_inquiry {
  @apply flex items-center justify-start gap-2.5 leading-[26px];
  flex-flow: row-reverse nowrap;
}

.inquiry_button {
  @apply h-10 w-[8.75rem] cursor-pointer border border-solid border-[#C4C4C4];
  background: white;
}

.one_on_one_inquiry {
  @apply flex items-center justify-start gap-2.5 leading-[26px];
  flex-flow: row-reverse nowrap;
}
.bulk_inquiry {
  @apply flex items-center justify-start gap-2.5 leading-[26px];
  flex-flow: row-reverse nowrap;
}
.non_member {
  @apply text-[10px];
}
.about {
  @apply flex items-start justify-start gap-7;
  flex-flow: column nowrap;
}
.about_nav {
  @apply flex items-stretch justify-between gap-2.5;
  flex-flow: row nowrap;
}
.about_info {
  @apply text-[10px] leading-[18px];
}
.primary {
  @apply font-[bold] text-[#5F0080];
}
.sns_box {
  @apply flex items-stretch justify-start gap-5;
  flex-flow: row nowrap;
}
.blog {
  @apply block h-[1.875rem] w-[1.875rem];
  background: url("../assets/images/Icon/Blog.svg") no-repeat;
}
.facebook {
  @apply block h-[1.875rem] w-[1.875rem];
  background: url("../assets/images/Icon/FaceBook.svg") no-repeat;
}
.instagram {
  @apply block h-[1.875rem] w-[1.875rem];
  background: url("../assets/images/Icon/Instagram.svg") no-repeat;
}
.naverPost {
  @apply block h-[1.875rem] w-[1.875rem];
  background: url("../assets/images/Icon/NaverPost.svg") no-repeat;
}
.youtube {
  @apply block h-[1.875rem] w-[1.875rem];
  background: url("../assets/images/Icon/Youtube.svg") no-repeat;
}

.company {
  @apply border-t border-solid border-t-[#E1E1E1];
}
.company_wrap {
  @apply flex items-start justify-between gap-6 px-0 pb-8 pt-6 text-[0.625rem] leading-4;
  flex-flow: row nowrap;
}
.company_list {
  @apply flex items-start justify-between;
  flex-flow: row nowrap;
}
.isms {
  @apply flex items-start justify-start gap-2 before:block before:h-[35px] before:w-[35px] before:shrink-0 before:content-[""];
  flex-flow: row nowrap;
}
.isms::before {
  background: url("../assets/images/logo_isms.png") no-repeat;
}
.privacy {
  @apply flex items-start justify-start gap-2 before:block before:h-[35px] before:w-[35px] before:shrink-0 before:content-[""];
  flex-flow: row nowrap;
}
.privacy::before {
  background: url("../assets/images/logo_privacy.png") no-repeat;
}
.woori {
  @apply flex items-start justify-start gap-2 before:block before:h-[35px] before:w-[35px] before:shrink-0 before:content-[""];
  flex-flow: row nowrap;
}
.woori::before {
  background: url("../assets/images/logo_wooriBank.png") no-repeat;
}
.toss {
  @apply flex items-start justify-start gap-2 before:block before:h-[35px] before:w-[105px] before:shrink-0 before:content-[""];
  flex-flow: row nowrap;
}
.toss::before {
  background: url("../assets/images/logo_tosspayments.png") no-repeat;
}
.footer_bottom {
  @apply flex items-center justify-center py-[1.5625rem] text-[0.625rem] text-[#898989];
  background: #f9f9f9;
  flex-flow: column nowrap;
}
.footer_bottom span {
  @apply leading-[180%];
}
.footer_bottom small {
  @apply py-2.5 leading-[160%];
} */

/* main_page */

/* .main_page_container {
  @apply w-full relative m-0;
  font-family: Pretendard;
}
.main_page_container .main_banner {
  @apply relative p-0 overflow-hidden;
}
.main_banner_image {
  @apply w-full;
}
.main_banner_page {
  @apply absolute w-[2.9375rem] h-[1.125rem] text-[0.8125rem] font-semibold text-white text-center p-[auto] rounded-xl right-[22%] top-[87%] z-20;
  background: rgba(0, 0, 0, 0.15);
}
.main_banner_button {
  @apply cursor-pointer absolute w-[3.25rem] h-[3.25rem] rounded-[50%] border-0 top-[38%] z-20 opacity-0 transition duration-100 ease-in-out;
  background: rgba(0, 0, 0, 0.1) url("../assets/images/Icon/Arrow.png");
}
.main_banner_right_arrow {
  @apply -scale-x-100 right-[17%];
}
.main_banner_left_arrow {
  @apply left-[17%];
}
.recommend_today {
  @apply relative w-[65.625rem] box-border mx-auto px-0 py-[4.375rem];
}
.recommend_today_title {
  @apply text-[1.6875rem] font-bold text-center mb-[1.875rem] px-0 py-[0.9375rem];
}
.recommend_today_list {
  @apply flex justify-between items-stretch pl-0;
  list-style: none;
  flex-flow: row nowrap;
}
.recommend_today_product {
  @apply relative w-[15.5625rem] h-[26.625rem];
}
.recommend_today_name {
  @apply no-underline text-[#101010] text-sm block px-0 py-[1.125rem];
}
.recommend_today_price {
  @apply text-[1.375rem] font-[bold];
}
.recommend_today_sale {
  @apply text-[orangered] text-[1.375rem] font-extrabold;
}
.recommend_today_before_price {
  @apply block line-through text-[#A6A6A6] text-[0.8125rem] mt-4;
}
.recommend_today_cart {
  @apply cursor-pointer absolute bg-center opacity-[50%] w-[2.625rem] h-[2.625rem] rounded-[50%] border-0 right-[8%] bottom-[30%];
  background: #2a0038 url("../assets/images/Icon/Cart_white.svg");
}
.recommend_today_right_arrow {
  @apply cursor-pointer w-[3.125rem] h-[3.125rem] bg-center shadow-[0_0_0.625rem_#E1E1E1] absolute right-[-2.4%] rounded-[50%] border-[none] top-[45%];
  background: #ffffff url("../assets/images/Icon/rightArrow_black.png") no-repeat;
}
.line_banner {
  @apply w-[65.625rem] mx-auto my-10 p-0;
}
.recent_viewed {
  @apply relative fixed w-[4.625rem] h-[13.9375rem] text-[0.4375rem] text-center border box-border px-0 py-[2.1875rem] border-solid border-[#C4C4C4] right-[2%] top-2/4;
  background: #ffffff;
}
.recent_viewed img {
  @apply w-full;
}
.recent_viewed_list {
  @apply w-10 h-[8.0625rem] overflow-hidden gap-y-0.5 mt-2.5 mx-auto p-0;
  list-style: none;
}
.recent_viewed_sprite {
  @apply cursor-pointer w-[1.125rem] h-[1.125rem] absolute border-[none];
  background: url("../assets/images/Icon/Arrow-2.png");
}
.recent_viewed_button_up {
  @apply bg-[50%_10%] right-[37%] top-[4%];
}
.recent_viewed_button_down {
  @apply bg-[50%_35%] right-[37%] bottom-[4%];
}
.main_popup {
  @apply w-[21.5625rem] h-[33.125rem] shadow-[0_0.5rem_2.25rem_0_#C4C4C4] text-[#333333] font-bold fixed rounded-2xl left-[0.4375rem] bottom-2.5 z-50;
  background: #ffffff;
}
.main_popup img {
  @apply rounded-[1rem_1rem_0_0];
}
.main_popup .main_popup_close {
  @apply border-l-[solid] border-l-[#E1E1E1];
}
button[class*=main_popup_close] {
  @apply cursor-pointer h-[3.75rem] w-[49%] inline-block m-0 border-0;
  background: transparent;
} */
